<app-menuadmin></app-menuadmin>

<div class="main">

    

  <label class="terciario">EVENTOS</label>

 <br>
 
    
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> <b>ID</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
   
    <ng-container matColumnDef="nombreevento">
      <th mat-header-cell *matHeaderCellDef> <b>EVENTO</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreevento}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaevento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>FECHA</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaevento | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="horarioevento">
        <th mat-header-cell *matHeaderCellDef> <b>HORA</b>  </th>
        <td mat-cell *matCellDef="let element"> {{element.horarioevento}} </td>
      </ng-container>


     <ng-container matColumnDef="asistentesevento">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element; let i = index"> 

        <button type="button" class="btn" (click)=NavegarEvento(element.id,element.nombreevento) >
            Inscritos <span class="badge bg-secondary">4</span>
          </button>

      </td>
    </ng-container>
  
    

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  <mat-paginator [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

    
  </div>

    
 


