

  
  .gris{
  
    background: linear-gradient(to right, #202222, #88929e, #202222); 
  



  }
  
  .top-nav-collapse{
  
    background: linear-gradient(to right, #373a3b, #373a3b, #373a3b)!important;
  
      }
  

      .btn{
        color:rgba(80, 88, 97, 0.973);
        background:#f5f7f8;
        padding:10px 20px;
        font-size:10px;
        text-decoration:none;
        letter-spacing:1px;
        text-transform:uppercase;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        border: 1px solid rgb(131, 144, 153);
        
      }

      .btn:hover{
        border:none;
        background:#e5e9f1 ;
        padding:15px 20px; 
        color:#939899;
        border: 1px solid rgb(123, 126, 129);
      }

      .imglog {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        opacity: 1;
        
      }      
      
    