<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


 


  <div class="sidenav">
    <div class="card">
      <div class="header">
        <h3>Menú Administrativo </h3>
      </div>
      
      <div class="body">
        <ul>
          <li>
            <i class="fas fa-donate icon"></i>Tesoreria</li>
          
          
          <li><i class="fas fa-calendar-alt icon"></i> Eventos
            <ul>
              
              
              <li>
                
                <a  [routerLink] = "['/creareventos/']">
                  <i class="fas fa-pencil-alt icon"></i>
                Creación</a>
              </li>

              <li>
                <a  [routerLink] = "['/vertodo/']">
                <i class="fas fa-search icon"></i> Consultas</a>
              </li>

            </ul>
          </li>


          <li><i class="fas fa-address-card icon"></i> Miembros
            <ul>
              <li>
                <i class="fas fa-pencil-alt icon"></i>Creación</li>


              <li><i class="fas fa-search icon"></i> Consultas</li>
            </ul>
          </li>


        </ul>
       </div>   

       

    </div>
  </div> 
  
  
  <div class="main">
    
    <h1>Panel Administrativo</h1>
  </div>
     
  