input[type=radio]{

    width: 20px;
    height: 20px;
}

.label {
    color: rgb(245, 240, 240);
    padding: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .principal {background-color: #4bc2e8;} /* Green */
  .secundario {background-color: #f0f4f7;} /* Blue */
  .terciario {background-color: #5f87b4; color:#f0f4f7;} /* Orange */

