.mat-radio-button  {
    margin-left: 20px;
    color: rgb(85, 83, 83);
    


 
 
    
  }


  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .fondoddiv{

    background-image: url("/assets/img/fon3.jpg") ;
}
  


.label {
  color: #5f87b49d;
  padding: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: -10px;
}

.principal {background-color: #4bc2e8;} /* Green */
.secundario {background-color: #f0f4f7;} /* Blue */
.terciario {background-color: #5f87b49d;} /* Orange */

h1 {
	
  margin: 50px;
	text-align: center;
	
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
 
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: left;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
