<br>
<div class="container">

  <div class="alert alert-primary" role="alert">
    Domingo 14 de Enero 2021
  </div>

 
<form [formGroup] = "reservas" (ngSubmit)= "guardarReserva()">
    
  <div class="row">
  
  <div class="col-sm-3">
        
        <div class="md-form">
          <input type="text" id="inputMDEx" class="form-control form-control-lg" formControlName="identificacion">
          <label for="inputLGEx">N° de Identificación</label>
        </div>
        
      </div>

      <div class="col-sm-3">
        <br>
        <br>
        <span class="text-danger sm-4" *ngIf="reservas.get('identificacion').hasError('required') && reservas.get('identificacion').touched">  
          La identificación es requerida

        </span>

      </div>

    </div>

    <div class="row">

    <div class="col-sm-6">
      <div class="md-form">
        <input type="text" id="inputMDEx" class="form-control form-control-lg" formControlName="nombre">
        <label for="inputLGEx">Nombre Completo</label>
      </div>

    </div>

    <div class="col-sm-3">
      <br>
      <br>

      <span class="text-danger sm-4" *ngIf="reservas.get('nombre').hasError('required') && reservas.get('nombre').touched">   
        El nombre es requerido

      </span>
    
    </div>

  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="md-form">
        <input type="text" id="inputMDEx" class="form-control form-control-lg" formControlName="celular">
        <label for="inputLGEx">Número Celular</label>
      </div>
        <span class="text-danger sm-4" *ngIf="reservas.get('celular').hasError('required')  && reservas.get('celular').touched">   
          El celular es requerido

        </span>
      </div>
      
          

    <div class="col-sm-4">
      <br>
      <br>
        <label for="celular" class="col-sm-3 col-form-label">Horario</label>

        
          <mat-radio-group aria-label="Select an option" formControlName="horario">
            <mat-radio-button value="08:00">8:00</mat-radio-button>
            <mat-radio-button value="10:00">10:00</mat-radio-button>
          </mat-radio-group>
        

    

        <span class="text-danger ml-3" *ngIf="reservas.get('horario').hasError('required') && reservas.get('horario').touched"> 
          Debe seleccionar el horario

        </span>
      
      </div>
     

    </div>
    <div class="row">
      <div class="col-sm-3">
      <button  class="btn btn-primary float-right" [disabled] = "reservas.invalid" (clic)="guardarReserva()">Inscribirme</button>
        </div>
        <div class="col-sm-3">
        <button  class="btn btn-secondary float-left" [routerLink] = "['/home/']">Cancelar</button>
      </div>

    </div>
  </form>
</div>
