    <div class="fondoddiv">
    <h1><label class="terciario">Inscripción {{ nomeven }} {{ feceven | date:'MMM d, y'}} {{ horeven }}</label></h1>
  
    
<form [formGroup] = "reservas">
    
  <div class="row">
  
  <div class="col-sm-4">
        
        <div class="md-form md-outline">
          <i class="fas fa-id-card prefix white-grey"></i>
          <input type="text" id="form1" class="form-control text-grey" formControlName="identificacion" style="width:200px !important">
          <label for="form1">N° de identificación</label>
        </div>

      
        
      </div>

      <div class="col-sm-3">
        <br>
        <br>
        
        <span class="badge bg-danger text-dark" *ngIf="reservas.get('identificacion').hasError('required') && reservas.get('identificacion').touched">  
          La identificación es requerida

        </span>

      </div>

    </div>

    <div class="row">

    <div class="col-sm-6">
      <div class="md-form md-outline">
        <i class="fas fa-user prefix white-grey"></i>
        <input type="text" id="form2" class="form-control text-grey" formControlName="nombre" style="width:280px !important">
        <label for="form2">Nombre Completo</label>
      </div>

  

    </div>

    <div class="col-sm-3">
      <br>
      <br>

      <span class="badge bg-danger text-dark" *ngIf="reservas.get('nombre').hasError('required') && reservas.get('nombre').touched">   
        El nombre es requerido

      </span>
    
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="md-form md-outline">
        <i class="fas fa-mobile prefix white-grey"></i>
        <input type="text" id="form3" class="form-control text-grey" formControlName="celular" style="width:200px !important">
        <label for="form3">Número Celular</label>
      </div>

    </div>

    <div class="col-sm-3">
      <br>
      <br>

        <span class="badge bg-danger text-dark" *ngIf="reservas.get('celular').hasError('required')  && reservas.get('celular').touched">   
          El celular es requerido

        </span>
      </div>
    
    </div>



    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-4">
        
      <button  class="myButton" [disabled] = "reservas.invalid" (clic)="guardarReserva()">Inscribirme</button>
        </div>
        <div class="col-sm-4">
        <button  class="myButton" (click)="onNoClick()">Cancelar</button>
      </div>

    </div>

   
  </form>
</div>





