<div class="main">

  <label class="terciario">Consultar Eventos</label>

  <br>
  <div class="card">

    <div class="card-body">

      <table class="table">

        

          <thead>
            <tr >
            
            <th>Evento</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Cupo</th>
            
            </tr>   
        </thead>

        <tbody>
          <tr>

            <td>Culto dominical</td>
            <td>20-07-2021</td>
            <td>10:00 pm</td>
            <td>30</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>

          </tr>

          <tr>

            <td>Culto Juvenil</td>
            <td>22-07-2021</td>
            <td>10:00 pm</td>
            <td>30</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>


</div>