<body>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a [routerLink]="['/consultareventos/']">
          <i class="fa fa-calendar-alt fa-2x"></i>
          <span class="nav-text">
            Eventos
          </span>
        </a>


      </li>

      <li>
        <a [routerLink]="['/eventos/']">
          <i class="fa fa-solid fa-user"></i>
          <span class="nav-text">
            Usuarios sistema
          </span>
        </a>


      </li>

      <li>
        <a [routerLink]="['/consultarmiembros/']">
          <i class="fa fa-solid fa-users"></i>
          <span class="nav-text">
            Miembros iglesia
          </span>
        </a>




      </li>

      <li>
        <a [routerLink]="['/eventos/']">
          <i class=" fa fa-solid fa-book"></i>
          <span class="nav-text">
            Finanzas
          </span>
        </a>

        <ul>


          <li>

            <a [routerLink]="['/creareventos/']">
              <i class="fas fa-pencil-alt icon"></i>
              <span class="nav-textsm">
                Registrar ingresos
              </span></a>
          </li>

          <li>
            <a [routerLink]="['/consultareventos/']">

              <i class="fas fa-search icon"></i> <span class="nav-textsm">Consultar ingresos

              </span></a>
          </li>



        </ul>


      </li>



    </ul>


  </nav>
</body>