<app-menuadmin></app-menuadmin>
    

  <div class="main">

    
    
    <label class="terciario">{{ accion }}  EVENTO</label>

       
    <div class="row">

      <div class="col-sm-4">
       
        <mat-slide-toggle   [(ngModel)]="checked"   class="estado"   (change)="changed()">

</mat-slide-toggle>
        
      </div>

    </div>
    
    <form [formGroup] = "eventos" (ngSubmit)= "guardarEventos()">
    
      

    

        <div class="row">

          <div class="col-sm-4">
            
              <mat-form-field appearance="" style="width:280px !important">
                <mat-label class="formula">Nombre Evento</mat-label>
                <input matInput type="text" class="conte" formControlName="nombreevento">
              </mat-form-field>    
              
          </div>

        
                    
        </div>    

        <div class="row">

          <div class="col-sm-6">
            
            <mat-form-field appearance="" style="width:280px !important">
              <mat-label class="formula">Descripción</mat-label>
              <textarea matInput class="conte" formControlName="descripcionevento"></textarea>
            </mat-form-field>
                                 
          </div>

          
        </div>

        <div class="row">

          <div class="col-sm-4">
            
              <mat-form-field appearance="" style="width:280px !important">
                <mat-label class="formula">Cupo asistentes</mat-label>
                <input matInput type="number" class="conte" formControlName="asistentesevento">
              </mat-form-field>    
              
          </div>
                    
        </div>  

        <div class="row">

          <div class="col-sm-4">
            
            <mat-form-field appearance="" style="width:180px; background-color: #e5e9f1 !important">
              <mat-label class="formula">Hora del evento</mat-label>
              <input matInput type="time" class="conte" formControlName="horarioevento">
            </mat-form-field>    
                                 
          </div>

          </div>

          <div class="row">

            <div class="col-sm-4">
             
                <mat-form-field appearance="" style="width:180px !important">
                <mat-label class="formula">Fecha del evento</mat-label>
                <input matInput [matDatepicker]="picker" class="conte" formControlName="fechaevento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
                
            </div>

          </div>

    

          <div class="row">
            <div class="col-sm-3">
              
              <button  class="myButton" [disabled] = "eventos.invalid" (clic)="guardarEventos()">Aceptar</button>
              
          </div>

          <div class="col-sm-2">
              
            <button  class="myButton" [routerLink] = "['/home/']">Cancelar</button>   
            
        </div>
      </div>
             
          


          
          
       
    </form>
        
  </div>


     
  <app-consultareventos></app-consultareventos>
