<br>
<br>
<br>

<div class="row" style="padding-top: 10px;">
   
<app-count-reservas [todos]="TotalAsistentes()"
                    [primer]="TotalPrimer()"
                    [segundo]="TotalSegundo()"
                    (countRadioButtonChange)="ReservaCountRadioButtonChange($event)"

></app-count-reservas>
<button class="btn btn-primary" type="button" disabled *ngIf="loading">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>

<br>
<table class="table table-striped">
    <thead>
        <tr >
        
        <th>Identificacion</th>
        <th>Nombre Completo</th>
        <th>Celular</th>
        <th>Fecha Servicio</th>
        <th>Horario</th>
        </tr>   
    </thead>
    <ng-container *ngFor="let reserva of listReservas, let i = index">
    <tr  *ngIf="radioButtonSeleccionado == 'todos' || radioButtonSeleccionado == reserva.horario">
        
        <td class="table-light">{{reserva.identificacion}}</td>
        <td class="table-light">{{reserva.nombre}}</td>
        <td class="table-light">{{reserva.celular}}</td>
        <td class="table-light">{{reserva.fechaservicio | date:'dd/MM/yyyy'}}</td>
        <td class="table-light">{{reserva.horario}}</td>
    </tr>
</ng-container>

</table>
