/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
   background: #333c59;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5f7f8, #70a9c5, #f5f7f8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f3f6f8, #f3f6f8, #f3f6f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

